/* Logo */

.logo {
	position: absolute;
	top: 0;
	left: 0;
	width: 5rem;
	height: 5rem;

	margin: 3rem;
}

.logo img {
	width: 100%;
}

/* HomeContent */

.home-content {
	position: absolute;
	bottom: 0;
	left: 0;

	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 0.7rem;

	margin: 0 0 3rem 3rem;

	z-index: 1;
}

.title-1 {
	font-size: 5rem;
	font-weight: 100;
	line-height: 4.6rem;
}

.text-2 {
	font-size: 2rem;
	font-weight: 100;
	color: var(--color-text-secondary);
	text-transform: uppercase;
}

/* EditPanel */
.edit-panel {
	position: absolute;
	right: 0;
	bottom: 0;

	margin: 0 3rem 3rem 0;
}

.edit-panel:hover .icon-rotate-y {
	transform: rotateY(180deg);
	color: var(--color-text-primary);
}

.edit-panel:hover .edit-panel_btn > span {
	opacity: 1;
	transform: translateY(0);
}

.edit-panel_btn span {
	opacity: 0;
	transform: translateY(100%);
	transition: 0.5s;
	color: var(--color-text-secondary);
	padding: 0.2rem 0.5rem;
	border-radius: 0.7rem;
}

.edit-panel_btn {
	display: flex;
	align-items: center;
}

/* -- */

.edit-panel_box {
	display: flex;
	align-items: flex-end;

	margin-bottom: 1rem;
}

.edit-panel_content {
	display: flex;
	flex-direction: column;

	height: 30rem;
	width: 15rem;
	border-radius: 1.2rem;

	padding: 0.8rem;
	overflow-y: scroll;
	overflow-x: hidden;
}

.edit-panel_content::-webkit-scrollbar {
	background-color: transparent;
	width: 0.7rem;
}

.edit-panel_content::-webkit-scrollbar-thumb {
	background-color: var(--color-border2);
	border-radius: 0.7rem;
}

.tab {
	display: flex;
	align-items: center;
	justify-content: space-between;

	background: var(--color-border2);
	color: var(--color-text-primary);

	font-weight: 100;
	text-transform: lowercase;

	padding: 0.2rem 0.4rem;
	margin: 0.2rem 0;

	border-radius: 0.4rem;
}

.edit-logo {
	width: 100%;
	overflow: hidden;
}

.edit-tab {
	height: 10rem;
	width: 100%;
	background: var(--color-border2);

	display: flex;
	flex-direction: column;

	padding: 1rem;
}

.edit-tab-file {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.edit-logo label {
	width: 100%;
	border: 1px solid var(--color-text-secondary);
	padding: 0.3rem 0.5rem;
	border-radius: 0.6rem;
	font-weight: 100;
	text-align: center;
}

/*CustomBtn */

.custom-btn {
	padding: 0.3rem 0.7rem;
	border-radius: 0.6rem;
	text-transform: capitalize;
}

.custom-btn.filled {
	background: #484848;
}

.custom-btn.outlined {
	border: 1px solid #484848;
}
