@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,600;1,900&display=swap");
@import url("https://rsms.me/inter/inter.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	font-family: "Inter", sans-serif;
}

body {
	cursor: none;
}

button {
	cursor: none;
}

@supports (font-variation-settings: normal) {
	html {
		font-family: "Inter var", sans-serif;
	}
}

.app {
	position: relative;
	@apply relative w-full h-screen overflow-hidden;
}
:root {
	--color-bg-primary: #101010;
	--color-bg-secondary: #82808435;
	--color-text-primary: #fff;
	--color-text-secondary: #ffffff63;
	--color-text-secondary1: #ffffffcb;
	--color-border2: rgba(255, 255, 255, 0.18);
	--color-bg-btn: #484848;
	--color-text-secondary2: #f9af01;
	--color-text-secondary3: #f9af0166;
	--color-bg-cursor: #ffffffda;
}

/* icon */

.icon {
	color: var(--color-text-secondary);
	transition: 1s;
}

.icon-rotate-y:hover {
	transform: rotateY(180deg);
	color: var(--color-text-primary);
}

.icon-rotate-x {
	transform: rotateX(180deg);
	color: var(--color-text-primary);
}

.icon-large {
	font-size: 2rem;
}

.icon-small {
	font-size: 1.2rem;
}

/* uploading modal window */

.display-canvas_page {
	position: relative;
	background: #101010;
	color: white;
	width: 100vw;
	height: 100vh;
}

.display-canvas {
	width: 100%;
	height: 100%;
}

.display-logo {
	position: absolute;
	z-index: 996;

	margin: 4rem;
}

.controller-box {
	position: absolute;
	bottom: 4rem;
	left: 4rem;

	display: flex;
	align-items: center;

	z-index: 996;
}

.model-controller {
	border-radius: 1.2rem;
	padding: 1.2rem;

	display: flex;
	flex-direction: column;
	gap: 0.7rem;
}

.controller {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.toggle_icon,
.bg-icon {
	font-size: 1.3rem;
	color: #ffffffa2;

	transition: 0.3s;
}

.toggle_icon.on {
	color: #fff;
}

.bg-controller:hover .bg-icon {
	color: #fff;
}

/* colorpicker */

.colorPicker {
	position: absolute;
	left: 4rem;
	bottom: 16rem;

	z-index: 996;
}

/* screenshot displayer modal window */
/* .screenshot-modal_container  */
.screenshot-modal {
	position: absolute;
	left: 10vw;
	top: 10vh;
	width: 80vw;
	height: 80vh;

	background: #484848;
	border: 1px solid #fff;
	border-radius: 1.2rem;

	padding: 1rem;

	z-index: 999;

	backdrop-filter: blur(1rem);
}

.screenshot-modal h4 {
	opacity: 0.5;
}

.screenshot-modal .img-container {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 80%;
	height: 80%;
}

.screenshot-modal .img-container img {
	max-width: 100%;
	max-height: 100%;
}

.glassmorphism {
	background: var(--color-bg-secondary);
	box-shadow: 0 2px 30px 0 rgba(31, 38, 135, 0.07);
	backdrop-filter: blur(2px);
	-webkit-backdrop-filter: blur(2px);
	border: 1px solid var(--color-border2);
}

input[type="file"] {
	z-index: -1;
	position: absolute;
	opacity: 0;
}

.sketch-picker {
	width: 170px !important;
	background: rgba(255, 255, 255, 0.25) !important;
	box-shadow: 0 2px 30px 0 rgba(31, 38, 135, 0.07) !important;
	backdrop-filter: blur(4px) !important;
	-webkit-backdrop-filter: blur(4px) !important;
	border: 1px solid rgba(255, 255, 255, 0.18) !important;
	border-radius: 6px !important;
}

.sketch-picker > div:nth-child(3) {
	display: none !important;
}
