@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,600;1,900&display=swap");
@import url("https://rsms.me/inter/inter.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	font-family: "Inter", sans-serif;
}

body {
	cursor: none;
}

button {
	cursor: none;
}

@supports (font-variation-settings: normal) {
	html {
		font-family: "Inter var", sans-serif;
	}
}

.app {
	position: relative;
	@apply relative w-full h-screen overflow-hidden;
}

.cursor {
	position: absolute;
	z-index: 1000;
	border-radius: 50%;

	width: 1.2rem;
	height: 1.2rem;
}

.def_cursor {
	background-color: #a767ec65;
}

.logo_cursor {
	background-color: rgba(249, 187, 0, 0.573);
	width: 3rem;
	height: 3rem;
}

.home {
	background-color: #101010;
	color: #fff;

	display: flex;
	flex-direction: column;
	width: 100vw;
	min-height: 100vh;

	padding: 2rem;
	/* @apply w-fit xl:h-full flex xl:justify-between justify-start items-start flex-col xl:py-8 xl:px-36 sm:p-8 p-6 max-xl:gap-7 absolute z-10; */
}

.home-content {
	position: relative;
	gap: 2rem;
}

.home-content_textual {
	display: flex;
	flex-direction: column;
	gap: 3.5rem;

	width: 50%;
	padding-left: 5rem;
	padding-top: 5rem;
}

.head-text {
	font-size: 5.5rem;
	font-weight: bold;
	/* @apply xl:text-[3rem] text-[3rem] xl:leading-[11rem] leading-[7rem] font-black text-white; */
}

.home-content_model {
	position: absolute;
	top: 50%;
	left: 20%;

	transform: translateY(-26%);
	width: 100vw;
	height: 100vh;
}

/* feature page */
.feature_page,
.display_page {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 4rem;

	padding: 4rem;
	height: 100vh;
	width: 100vw;
	background-color: #101010;
}

.xyz {
	position: absolute;

	width: fit-content;
	padding: 0.2rem 0.4rem;
	border: 1px solid white;
	border-radius: 1.2rem;

	color: white;
	font-size: 0.5rem;
	background-color: #48484870;

	backdrop-filter: blur(4px);
	transition: all 0.3s;
}

.btn_container {
	display: flex;
	align-items: center;
}

.drag_indicator {
	transition: 0.3s;
}

.feature-header {
	width: 100%;

	display: flex;
	align-items: center;
	justify-content: space-between;
}

.feature-header img {
	width: 5rem;
}

.feature-header button {
	align-self: flex-top;
	max-width: fit-content;
}

.feature-cards {
	display: flex;
	align-items: center;
	justify-content: space-between;

	padding: 20px;
	width: 100%;
	height: 90%;
}

.card {
	position: relative;
	display: flex;
	gap: 1rem;

	width: 25%;
	height: 95%;

	border: 1px solid #ffffff;
	border-radius: 0.7rem;
	padding: 1.7rem;
}

.card:first-child {
	background-color: #484848;
}

.card:nth-child(2) {
	background-color: #82808435;
}

.card:nth-child(3) {
	background-color: #4848486b;
}
.card_part1 {
	display: flex;
	flex-direction: column;
	gap: 1rem;

	width: 70%;
}

.card .logo {
	width: 3.3rem;
}

.feature {
	display: flex;
	flex-direction: column;
	gap: 1.4rem;
}

.feature-title {
	font-size: 2rem;
	font-weight: 700;

	color: #fff;
}

.feature-description {
	font-size: 1.3rem;
	font-weight: 500;
	color: #afaeae;
}

.feature-btn {
	position: absolute;
	bottom: 2rem;
	left: -2rem;
	width: 15rem;
	display: flex;
}

.feature-btn button {
	font-size: 1.3rem;
	font-weight: 500;
	box-shadow: 0.5rem 0.2rem 0.6rem #afaeae7a;

	transition: 0.6s;
}

.feature-btn button:hover {
	box-shadow: 0.5rem 0.2rem 1rem #afaeae7a;
	transform: translateY(-4px);
}

.card_part2 {
	position: absolute;
	right: -9rem;
	width: 20rem;
}

.card_part2 img {
	width: 100%;
}

/* model displayer page */

.display-section {
	display: flex;
	align-items: flex-end;
	justify-content: space-evenly;

	width: 100%;

	color: #fff;
}

.section {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
}

.display-section1_text {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.display-section1_text h1 {
	font-size: 4rem;
	font-weight: 100;
	letter-spacing: 0.4rem;
}

.display-section1_text h4 {
	color: #484848;
	font-weight: 600;
	font-size: 1.1rem;
}

.display-section_dropZone {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(109, 109, 109, 0.18);
	height: 18rem;
	width: 100%;
}

.display-section_dropZone h4 {
	display: flex;
	align-items: center;
	justify-content: center;
	color: #f9af01;
	border: 1px dashed #f9af01;

	width: 90%;
	height: 90%;
	padding: 1rem;
}

.display-section2 {
	display: flex;
	justify-content: space-between;
	width: 20rem;
	height: 18rem;
}

.display-section_file {
	padding: 1rem 2rem;
	border: 2px solid #6d6d6d;
	border-radius: 1rem;

	width: 100%;
	text-align: center;
}

.display-section_file label {
	opacity: 0.7;
}

.display-section_fileName {
	color: #6d6d6d;
	font-size: 1.2rem;
}

.display-section_btns,
.controller-btns {
	display: flex;
	align-items: center;
	gap: 2rem;

	width: 100%;
}

.display-section_btns button {
	padding: 1rem;
}

/* displayer canvas page */

.display-canvas_page {
	position: relative;
	background: #101010;
	color: white;
	width: 100vw;
	height: 100vh;
}

.display-canvas {
	width: 100%;
	height: 100%;
}

.display-logo {
	position: absolute;
	z-index: 998;

	margin: 4rem;
}

.controller-box {
	position: absolute;
	bottom: 4rem;
	left: 4rem;

	display: flex;
	align-items: center;

	z-index: 999;
}

.model-controller {
	background: #6d6d6d;
	border: 1px solid white;
	border-radius: 1.2rem;
	padding: 1rem;

	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.controller {
	display: flex;
	gap: 1rem;
}

.toggle_icon {
	font-size: 1.3rem;
	color: #ffffffa2;
}

.toggle_icon.on {
	color: #fff;
}

/* screenshot displayer modal window */
/* .screenshot-modal_container  */
.screenshot-modal {
	position: absolute;
	left: 10vw;
	top: 10vh;
	width: 80vw;
	height: 80vh;

	background: #484848;
	border: 1px solid #fff;
	border-radius: 1.2rem;

	padding: 1rem;

	z-index: 999;

	backdrop-filter: blur(1rem);
}

.screenshot-modal h4 {
	opacity: 0.5;
}

.screenshot-modal .img-container {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 80%;
	height: 80%;
}

.screenshot-modal .img-container img {
	max-width: 100%;
	max-height: 100%;
}

.download-btn {
	@apply w-14 h-14 flex justify-center items-center rounded-full glassmorphism cursor-pointer outline-none;
}

.editortabs-container {
	@apply glassmorphism w-16 border-[2px] rounded-lg flex flex-col justify-center items-center ml-1 py-4 gap-4;
}

.filtertabs-container {
	@apply absolute z-10 bottom-5 right-0 left-0 w-full flex justify-center items-center flex-wrap gap-4;
}

.aipicker-container {
	@apply absolute left-full ml-3 glassmorphism p-3 w-[195px] h-[220px] rounded-md flex flex-col gap-4;
}

.aipicker-textarea {
	@apply w-full bg-transparent text-sm border border-gray-300 p-2 outline-none flex-1;
}

.filepicker-container {
	@apply absolute left-full ml-3 glassmorphism p-3 w-[195px] h-[220px] flex flex-col rounded-md;
}

.filepicker-label {
	@apply border border-gray-300 py-1.5 px-2 rounded-md shadow-sm text-xs text-gray-700 focus:outline-none focus:ring-1 focus:ring-blue-500 focus:border-blue-500 cursor-pointer w-fit;
}

.tab-btn {
	@apply w-14 h-14 flex justify-center items-center cursor-pointer select-none;
}

.glassmorphism {
	background: rgba(255, 255, 255, 0.25);
	box-shadow: 0 2px 30px 0 rgba(31, 38, 135, 0.07);
	backdrop-filter: blur(4px);
	-webkit-backdrop-filter: blur(4px);
	border: 1px solid rgba(255, 255, 255, 0.18);
}

input[type="file"] {
	z-index: -1;
	position: absolute;
	opacity: 0;
}

.sketch-picker {
	width: 170px !important;
	background: rgba(255, 255, 255, 0.25) !important;
	box-shadow: 0 2px 30px 0 rgba(31, 38, 135, 0.07) !important;
	backdrop-filter: blur(4px) !important;
	-webkit-backdrop-filter: blur(4px) !important;
	border: 1px solid rgba(255, 255, 255, 0.18) !important;
	border-radius: 6px !important;
}

.sketch-picker > div:nth-child(3) {
	display: none !important;
}
